body {
    background-color: #2a2a2e;
    color: white;
    font-family: Arial, sans-serif;
}

textarea {
    background-color: #3e3e42;
    color: white;
    border-radius: 5px;
}

#beginning {
    text-align: center;
}

.boxsettings {
    border-radius: 2px;
    padding: 5px 5px;
    background-color: #3d3d4e;
}

.topnav {
    overflow: hidden;
    background-color: #303030;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 13px;
  }
  
  .topnav a:hover {
    background-color: #424242;
  }

.beginning {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }