@font-face {
  font-family: ipix;
  src: url(/src/fonts/Ipix.ttf);
}

body {
    background-color: #2a2a2e;
    color: white;
    font-family: Arial, sans-serif;
    font-family: ipix;
}

textarea {
    background-color: #3e3e42;
    color: white;
    border-radius: 5px;
}

#beginning {
    text-align: center;
}

.boxsettings {
    border-radius: 1px;
    padding: 4px 4px;
    margin: 7px;
    background-color: #19161c;
    font-family: ipix;
}

input[type="file"] {
  color: white;
  background-color: #19161c;
}

option {
  color: white;
  background-color: #19161c;
}

.topnav {
    overflow: hidden;
    background-color: dodgerblue;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 13px;
  }
  
  .topnav a:hover {
    background-color: #424242;
  }
  
div.scrollable-box {
  margin: 5px;
  padding: 5px;
  background-color: rgb(72, 72, 72);
  width: 500px;
  height: 170px;
  overflow: auto;
  text-align: justify;
}