body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: White;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: rgb(51, 143, 234);
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 17px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgb(70, 70, 255);
  cursor: pointer;
  color: white;
}

.blockbar {
  background-color: #e5e4e4; 
  height: 700px; 
  width: 200px; 
  text-align: center; 
  box-shadow: 1px 1px 3px;
  float: left;
}

.screen {
  border:2px solid #000000;
  border-radius: 5px;
  float: right;
}
