/* styles.css */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section,
#warning {
    margin-top: 5%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%
}

label {
    font-weight: bold;
}

input[type="color"] {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

p {
    color: #888;
}

#warning {
    border-left: red 5px solid;
    margin-top: 10px;

}

#warning h2 {
    color: red;
}

/*Input customization*/
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 10px;
    border: none;
}