/* styles.css */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@font-face {
  font-family: ipix;
  src: url("https://bark.dumorando.com/src/fonts/Ipix.ttf");
}

@font-face {
  font-family: "Bazin";
  src: url("https://bark.dumorando.com/src/Bazin.ttf");
}

section, #warning {
    margin-top: 5%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-top: 10px;
    color: black;
}

label {
    font-weight: bold;
}

input[type="color"] {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* BlueDodger */
button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

.black-text {
    color: #000000;
}

.white-text {
    color: #ffffff;
}

#warning[priority="1"] {
    border-left: red 5px solid;

}

#warning[priority="1"] h2 {
    color: red;
}

#warning[priority="2"] {
    border-left: orange 5px solid;
}

#warning[priority="2"] h2 {
    color: orange;
}

/*Input customization*/
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 10px;
    border: none;
}
.active{
    outline: gray 3px solid;
}
.dark-mode input[type="color"]{
    background-color: white !important;
}
.dark-mode #settingsPage {
    background-color: #212529;
    color: #ffff;
}
.dark-mode button, .dark-mode input[type="submit"]{color:#fff!important}

.dark-mode #warning {
    background-color: #393f46;
    color: #ffff;
}

#warning {
    background-color: #f5f5f5;
}

/* Pranidhi */
.pranidhiButton {
  font-family: Poppins;
  background-color: #bc4749;
  padding: 12px 17px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 10pt;
  text-decoration: none;
}

.pranidhiButton:hover {
  background-color: #e29578;
  border: none;
}

/* Cherry Blossom */
.CherryBlossomButton {
  font-family: "Merriweather", "Bazin", sans-serif;
  background-color: rgb(255 0 129);
  padding: 13px 17px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 10pt;
  text-decoration: none;
}

.CherryBlossomButton:hover {
  background-color: rgb(221 0 153);
  border: none;
}

/* Shelled Gastropod */
.SnailButton {
  background-color: Purple;
  padding: 12px 17px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 10pt;
  text-decoration: none;
}

.SnailButton:hover {
  background-color: rgb(51, 7, 59);
  border: none;
}

/* Crap Brown Dodger */
.BrownDodgerButton {
  background-color: #a85400;
  padding: 9px 17px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  color: #ffffff;
}

.BrownDodgerButton:hover {
  background-color: #783c00;
  border: none;
}

/* Basically the same thing as the one above */

.oldWebButton {
  font-family: ipix;
  background-color: rgb(18, 150, 106);
  padding: 9px 17px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 10pt;
  text-decoration: none;
}

.oldWebButton:hover {
  background-color: rgb(14, 99, 55);
  border: none;
}

.ProfProgButton {
  background-color: #f55231;
  color: white;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.ProfProgButton:hover {
  background-color: #c94328;
  border: none;
}
