@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* CSS style for Bark, without them Bark would not be structured correctly */

@font-face {
  font-family: "Bazin";
  src: url("https://bark-coding.vercel.app/src/Bazin.ttf");
}

html:has(.dark-mode) {
  color-scheme: dark;
}

body {
  font-family: "Merriweather", "Bazin", sans-serif;
  background-color: White;
  font-weight: 450;
  margin: 0;
}

* {
  transition: 0.1s;
}

.textCenter {
  text-align: center;
}

.navbar {
  overflow: hidden;
  height: 60px;
  background-color: #ff42ab;
  display: flex;
  align-items: center;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 20px 25px;
  text-decoration: none;
  line-height: 25px;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #a629b638;
  border-radius: 5px;
  cursor: pointer;
  color: white;

}

.box {
  display: inline-block;
  padding: 16px 26px;
  font-size: 17px;
  text-align: center;
  outline: none;
  color: #4d007a;
  border-radius: 30px;
  background-color: rgb(255 0 129 / 39%);
  margin-top: 15px;
  width: 900px;
  margin-left: calc(50% - 476px);
}

.dark-mode .box {
  color: inherit;
}

a {
  color: #eb12c3;
  text-decoration: none;
}

.dark-mode a {
  color: #ff1ed5;
}

a:hover, a:active {
  text-decoration: underline;
}

input {
  padding: 6px;
  border-radius: 8px;
  border-color: #a3a3a3;
  border-style: solid;
  border-width: 1px;
  font-family: inherit;
}

* .dark-mode input {
  background-color: #000000;
  color: white;
}

.buttonFrBx {
  background-color: rgb(255 0 129);
  padding: 14px 18px;
  border-radius: 17px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 10pt;
  text-decoration: none;
}

.buttonFrBx:hover {
  background-color: rgb(221 0 153);
  border: none;
}

.searchBar {
  display: inline-block;
  padding: 6px 15px;
  font-size: 15px;
  border: none;
  color: #000000 !important;
  background-color: rgb(255 120 245) !important;
  border-radius: 100px;
  flex: 1 0 auto;
}

*:focus {
  outline: none;
}

code {
  font-family: monospace;
  background-color: #e6e6e6;
  border-radius: 4px;
  color: #000000;
}

body.dark-mode {
  background-color: #181818;
  color: #fff;
}

.dark-mode-button dmbico {
  display: block;
  width: 25px;
  height: 25px;
  transition: 0.3s;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCwwLDI0LDI0Ij48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjI4LC0xNjgpIj48ZyBkYXRhLXBhcGVyLWRhdGE9InsmcXVvdDtpc1BhaW50aW5nTGF5ZXImcXVvdDs6dHJ1ZX0iIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlLWxpbmVjYXA9ImJ1dHQiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWRhc2hhcnJheT0iIiBzdHJva2UtZGFzaG9mZnNldD0iMCIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0yMjgsMTY4aDI0djI0aC0yNHoiIGZpbGw9Im5vbmUiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIi8+PHBhdGggZD0iTTI0NywxODBjMCw1LjUyIC00LjQ4LDEwIC0xMCwxMGMtMS4wNSwwIC0yLjA1LC0wLjE2IC0zLC0wLjQ2YzQuMDYsLTEuMjcgNywtNS4wNiA3LC05LjU0YzAsLTQuNDggLTIuOTQsLTguMjcgLTcsLTkuNTRjMC45NSwtMC4zIDEuOTUsLTAuNDYgMywtMC40NmM1LjUyLDAgMTAsNC40OCAxMCwxMHoiIGZpbGw9IiNmZmZmZmYiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48L2c+PC9nPjwvc3ZnPg==");
  background-size: contain;
}

.dark-mode .dark-mode-button dmbico {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwLDAsMzcuMjY2NjcsMzcuMjY2NjciIGhlaWdodD0iMzcuMjY2NjciIHdpZHRoPSIzNy4yNjY2NyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjIxLjM2NjY2LC0xNjEuMzY2NjcpIj48ZyBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6IG5vcm1hbCIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2Utd2lkdGg9IjQiIGZpbGwtcnVsZT0ibm9uemVybyIgZGF0YS1wYXBlci1kYXRhPSJ7JnF1b3Q7aXNQYWludGluZ0xheWVyJnF1b3Q7OnRydWV9Ij48cGF0aCBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlPSJub25lIiBmaWxsPSIjZmZmZmZmIiBkPSJNMjMzLjgsMTgwYzAsLTMuNDI0MTYgMi43NzU4NCwtNi4yIDYuMiwtNi4yYzMuNDI0MTYsMCA2LjIsMi43NzU4NCA2LjIsNi4yYzAsMy40MjQxNiAtMi43NzU4NCw2LjIgLTYuMiw2LjJjLTMuNDI0MTYsMCAtNi4yLC0yLjc3NTg0IC02LjIsLTYuMnoiPjwvcGF0aD48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZT0iI2ZmZmZmZiIgZmlsbD0ibm9uZSIgZD0iTTI0MCwxNjkuOTY2Njd2LTYuNiI+PC9wYXRoPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlPSIjZmZmZmZmIiBmaWxsPSJub25lIiBkPSJNMjQwLDE5MC4wMzMzNHY2LjYiPjwvcGF0aD48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZT0iI2ZmZmZmZiIgZmlsbD0ibm9uZSIgZD0iTTIyOS45NjY2NywxODBoLTYuNiI+PC9wYXRoPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlPSIjZmZmZmZmIiBmaWxsPSJub25lIiBkPSJNMjUwLjAzMzM0LDE4MGg2LjYiPjwvcGF0aD48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZT0iI2ZmZmZmZiIgZmlsbD0ibm9uZSIgZD0iTTIzMi45MDUzNiwxNzIuOTA1MzZsLTQuNjY2OTEsLTQuNjY2OTEiPjwvcGF0aD48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZT0iI2ZmZmZmZiIgZmlsbD0ibm9uZSIgZD0iTTI0Ny4wOTQ2NCwxODcuMDk0NjRsNC42NjY5MSw0LjY2NjkxIj48L3BhdGg+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2U9IiNmZmZmZmYiIGZpbGw9Im5vbmUiIGQ9Ik0yMzIuOTA1MzYsMTg3LjA5NDY0bC00LjY2NjkxLDQuNjY2OTEiPjwvcGF0aD48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZT0iI2ZmZmZmZiIgZmlsbD0ibm9uZSIgZD0iTTI0Ny4wOTQ2NCwxNzIuOTA1MzZsNC42NjY5MSwtNC42NjY5MSI+PC9wYXRoPjwvZz48L2c+PC9zdmc+");
  transform: rotate3d(0, 1, 0, 180deg);
}

.blockbar {
  background-color: #e5e4e4;
  height: 650px;
  width: 200px;
  text-align: center;
  box-shadow: 1px 1px 3px;
  float: left;
}

.screen {
  border: 3px solid #000000;
  border-radius: 5px;
  float: right;
}

.slNav {
  background-color: rgb(255, 153, 0);
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.font {
  font-family: Tahoma, sans-serif, monospace;
}

.creditsHeader {
  color: white;
  background-color: dodgerBlue;
  padding: 35px;
  font-size: 20pt;
  text-align: center;
}

.CreditsPT {
  margin: 88px;
  margin-top: -55px;
  font-size: 20px;
}

#TextI {
  resize: none;
}

.linkButText {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

xml category {
  padding: 10px;
}

* .dark-mode select {
  background-color: #000000;
  color: white;
}

#projectPlayer {
  width: 480px;
  height: 390px;
  position: absolute;
  right: 0;
}

#projectToolbar {
  height: 25px;
}

.projectToolbarButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#footer {
  background-color: #f1f1f1;
  padding: 80px;
}

.footer-row {
  float: left;
  width: 33.333%;
  margin-bottom: 40px;
}

::-moz-selection {
  color: #ffffff;
  background: #e541ffb8;
}

::selection {
  color: #ffffff;
  background: #e541ffb8;
}

::placeholder {
  color: #808080;
  opacity: 0.8;
}

textarea {
  font-family: inherit;
  border-radius: 6px;
  padding: 7px;
}

/* mobile style */
@media (pointer: coarse) {
  .box {
    width: calc(100vw - 60px) !important;
    margin-left: 15px !important;
    padding: 16px 15px !important;
  }

  .navbar {
    overflow-x: scroll !important;
  }
}

footer {
  background-color: rgb(255 0 153 / 24%);
  margin-top: 200px;
  height: 25vh;
  padding: 40px;
  text-align: center;
}

.afd-upside-down {
  transform: rotate(180deg);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}
