body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: White;
  margin: 0;
}

.navbar {
  overflow: hidden;
  height: 38.5px;
  background-color: rgb(51, 143, 234);
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 9px 17px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgb(70, 70, 255);
  cursor: pointer;
  color: white;
}

.dark-mode-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 10px;
}

.dark-mode-button:hover {
  background-color: rgb(70, 70, 255);
  border-radius: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 10px;
}

.dark-mode-button img {
  width: 25px;
  height: 25px;
  margin-top: -3px;
}

#form {
  margin-left: calc(52% - 100px);
}

#currencyList {
  margin-left: calc(50% - 100px);
  width: 200px;
}

#button_orange {
  margin-left: calc(54% - 100px);
}

.warning {
  background: rgb(255, 153, 153);
  padding: 20px 15px;
  font-size: 25px;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}