red {
    color: red;
}

orange {
    color: orange;
}

yellow {
    color: yellow;
}

lime {
    color: lime;
}

green {
    color: green;
}

darkblue {
    color: darkblue;
}

blue {
    color: blue;
}

cyan {
    color: cyan;
}

purple {
    color: purple;
}

magenta {
    color: magenta;
}