.dark-mode .special {
    font-family: cursive;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

.special {
    font-family: cursive;
    color: #380830;
    text-align: center;
    text-decoration: underline;
}