body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: White;
  margin: 0;
}

.navbar {
  overflow: hidden;
  height: 38.5px;
  background-color: rgb(51, 143, 234);
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 9px 17px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgb(70, 70, 255);
  cursor: pointer;
  color: white;
}

.dark-mode-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 10px;
}

.dark-mode-button:hover {
  background-color: rgb(70, 70, 255);
  border-radius: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 10px;
}

.dark-mode-button img {
  width: 25px;
  height: 25px;
  margin-top: -3px;
}