@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*CSS styles for Bark, without them Bark would not be structured correctly*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: White;
  font-weight: 500;
  margin: 0;
}

* {
  transition: 0.1s;
}

.dark-mode {
  background-color: rgb(29, 29, 29);
  color: #ffffff;
}

.dark-mode * {
  color: #ffffff;
}

.textCenter {
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: rgb(150, 73, 18);
  height: 45px;
}

.navbar a {
  float: center;
  display: block;
  color: white;
  text-align: left;
  padding: 10px 16px;
  text-decoration: bold;
  height: 100%;
  line-height: 25px;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #bd5f1c;
  cursor: pointer;
  color: white;
}

.box {
  display: inline-block;
  font-size: 15px;
  text-align: center;
  outline: none;
  color: #964d18;
  background-color: #d47b3b;
  border-radius: 7px;
  width: 96%;
  margin-top: 10px;
  margin-left: 2%;
}

a.link {
  color: rgb(150, 73, 18);
}

button.buttonFrBx {
  background-color: rgb(0, 128, 255);
  padding: 9px 17px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  color: #ffffff;
}

button.buttonFrBx:hover {
  background-color: rgb(0, 111, 221);
  border: none;
}

.searchBar {
  display: inline-block;
  padding: 13px 20px;
  font-size: 17px;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: rgb(120, 188, 255);
  border-radius: 5px;
}

code {
  font-family: monospace;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

body.dark-mode {
  background-color: #181818;
  color: #fff;
}

.dark-mode-button dmbico {
  display: block;
  width: 25px;
  height: 25px;
  transition: 0.3s;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCwwLDI0LDI0Ij48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjI4LC0xNjgpIj48ZyBkYXRhLXBhcGVyLWRhdGE9InsmcXVvdDtpc1BhaW50aW5nTGF5ZXImcXVvdDs6dHJ1ZX0iIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlLWxpbmVjYXA9ImJ1dHQiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWRhc2hhcnJheT0iIiBzdHJva2UtZGFzaG9mZnNldD0iMCIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0yMjgsMTY4aDI0djI0aC0yNHoiIGZpbGw9Im5vbmUiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIi8+PHBhdGggZD0iTTI0NywxODBjMCw1LjUyIC00LjQ4LDEwIC0xMCwxMGMtMS4wNSwwIC0yLjA1LC0wLjE2IC0zLC0wLjQ2YzQuMDYsLTEuMjcgNywtNS4wNiA3LC05LjU0YzAsLTQuNDggLTIuOTQsLTguMjcgLTcsLTkuNTRjMC45NSwtMC4zIDEuOTUsLTAuNDYgMywtMC40NmM1LjUyLDAgMTAsNC40OCAxMCwxMHoiIGZpbGw9IiNmZmZmZmYiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48L2c+PC9nPjwvc3ZnPg==");
}

.dark-mode .dark-mode-button dmbico {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCwwLDI0LDI0Ij48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjI4LC0xNjgpIj48ZyBkYXRhLXBhcGVyLWRhdGE9InsmcXVvdDtpc1BhaW50aW5nTGF5ZXImcXVvdDs6dHJ1ZX0iIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlLWxpbmVjYXA9ImJ1dHQiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWRhc2hhcnJheT0iIiBzdHJva2UtZGFzaG9mZnNldD0iMCIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0yMjgsMTY4aDI0djI0aC0yNHoiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIi8+PHBhdGggZD0iTTI0NywxODBjMCw1LjUyIC00LjQ4LDEwIC0xMCwxMGMtMS4wNSwwIC0yLjA1LC0wLjE2IC0zLC0wLjQ2YzQuMDYsLTEuMjcgNywtNS4wNiA3LC05LjU0YzAsLTQuNDggLTIuOTQsLTguMjcgLTcsLTkuNTRjMC45NSwtMC4zIDEuOTUsLTAuNDYgMywtMC40NmM1LjUyLDAgMTAsNC40OCAxMCwxMHoiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48L2c+PC9nPjwvc3ZnPg==");
}

.blockbar {
  background-color: #e5e4e4; 
  height: 650px; 
  width: 200px; 
  text-align: center; 
  box-shadow: 1px 1px 3px;
  float: left;
}

.screen {
border:2px solid #000000;
border-radius: 5px;
float: right;
}

a {
color: dodgerblue;
}

.slNav {
background-color: rgb(255, 153, 0);
border-radius: 10px;
cursor: pointer;
color: white;
}

.font {
font-family: Tahoma, sans-serif;
}

.creditsHeader {
 color: white;
background-color: dodgerBlue;
padding: 35px;
font-size: 20pt;
text-align: center;
}

.CreditsPT {
margin: 88px;
margin-top: -55px;
font-size: 20px;
}

#TextI {
resize: none;
}

.linkButText {
color: black;
text-decoration: none;
}

.none-bullets {
list-style-type: none;
}

xml category {
  padding: 10px;
}

* .dark-mode input {
  background-color: #000000;
}

* .dark-mode select {
  background-color: #000000;
}

#projectPlayer {
  width: 480px;
  height: 390px;
  position: absolute;
  right: 0;
}

#projectToolbar {
  height: 30px;
}

.projectToolbarButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
