@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*CSS styles for Bark, without them Bark would not be structured correctly*/

/* Used for other styles */
.blockbar {
    background-color: #e5e4e4; 
    height: 650px; 
    width: 200px; 
    text-align: center; 
    box-shadow: 1px 1px 3px;
    float: left;
  }
  
.screen {
  border:2px solid #000000;
  border-radius: 5px;
  float: right;
}

a {
  color: dodgerblue;
}
  
.slNav {
  background-color: rgb(255, 153, 0);
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.font {
  font-family: Tahoma, sans-serif;
 }
 
 .creditsHeader {
   color: white;
  background-color: dodgerBlue;
  padding: 35px;
  font-size: 20pt;
  font-family: "Montserrat", Tahoma, sans-serif;
  text-align: center;
 }

.CreditsPT {
  margin: 88px;
  margin-top: -55px;
  font-size: 20px;
}

#TextI {
  resize: none;
}

.linkButText {
  color: black;
  text-decoration: none;
}

.none-bullets {
  list-style-type: none;
}
